.projCard {
    max-width: 30rem;
    max-height: 30rem;
    margin-bottom: 1.2rem;
}

.projImg {
    height: 15rem;
    width: 27rem;
    transition: .75s ease;
    overflow: hidden;
}
.projImg:hover .projBottom {
    bottom: 0;
    height: 75%;
}
.projImg:hover .projDesc {
    height: 30%;
}
.projImg:hover .projBtn {
    height: 20%;
}
.projImg:hover .projTop {
    bottom: 0;
    height: 100%;
    transition: .75s ease;
}
.projImg:hover .moreInfoBtn {
    bottom: 0;
    height: 20%;
}
@media only screen and (max-width: 600px) {
    .projImg {
        height: 15rem;
        width: 20rem;
        transition: .75s ease;
        overflow: hidden;
    }
}
@media only screen and (max-width: 350px) {
    .projImg {
        height: 15rem;
        width: 15rem;
        transition: .75s ease;
        overflow: hidden;
    }
}

.projBottom {
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 100%;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgb(58, 56, 56);
    color: #557A95;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -100%);
    white-space: nowrap;
    transition: .75s ease;
}

.projDesc {
    color: #557A95;
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: .75s ease;
}

.projBtn {
    color: rgb(58, 56, 56);
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #557A95;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .75s ease;
}

.githubBtn:hover {
    transition: .5s ease;
}
.githubBtn {
    transition: .5s ease;
}

.pageLinkBtn:hover {
    transition: .5s ease;
}
.pageLinkBtn {
    transition: .5s ease;
}

.projTop {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .75s ease;
}

.moreInfoBtn {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 100%;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 0%);
    white-space: nowrap;
    transition: .75s ease;
    text-align: center;
}
.moreInfoBtn:hover {
    transition: .5s ease;
}
.moreInfoBtn:focus {
    outline: none;
}
