.bg-color {
    background: rgb(58, 56, 56);
}

.projCard {
    max-width: 30rem;
    max-height: 30rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
}

.projImg {
    height: 15rem;
    width: 27rem;
    transition: .75s ease;
    overflow: hidden;
}
.projImg:hover .projBottom {
    bottom: 0;
    height: 100%;
}
.projImg:hover .projDesc {
    height: 30%;
}
.projImg:hover .projBtn {
    height: 20%;
}
.projImg:hover .singleProjBtn {
    height: 21%;
}
.projImg:hover .projTop {
    bottom: 0;
    height: 100%;
    transition: .75s ease;
}

.projBottom {
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 100%;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgb(58, 56, 56);
    color: #557A95;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -100%);
    white-space: nowrap;
    transition: .75s ease;
}

.projDesc {
    color: #557A95;
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: .75s ease;
}

.singleProjBtn {
    color: rgb(58, 56, 56);
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 200%;
    height: 0;
    justify-content: center;
    transition: .75s ease;
}

.projBtn {
    color: rgb(58, 56, 56);
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 100%;
    height: 0;
    justify-content: center;
    transition: .75s ease;
}

.githubBtn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    transition: 0.75s ease;
    transition: .75s ease;
    -webkit-appearance: none;
}
.githubBtn:hover {
    background: #557a95;
    color: rgba(58, 56, 56);
    border: 1px solid transparent;
    border-right: 1px solid white;
    transition: .75s ease;
}

.pageLinkBtn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    transition: 0.75s ease;
    transition: .75s ease;
    -webkit-appearance: none;
}
.pageLinkBtn:hover {
    background: #557a95;
    color: rgba(58, 56, 56);
    border: 1px solid transparent;
    border-left: 1px solid white;
    transition: .75s ease;
}

.singleBtn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    transition: 0.75s ease;
    transition: .75s ease;
    -webkit-appearance: none;
}
.singleBtn:hover {
    background: #557a95;
    color: rgba(58, 56, 56);
    border: 1px solid transparent;
    transition: .75s ease;
}

.projTop {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .75s ease;
}

@media only screen and (max-width: 500px) {
    .projImg {
        height: 12rem;
        width: 19rem;
        transition: .75s ease;
        overflow: hidden;
    }
    .projImg:hover .projDesc {
        height: 35%;
    }
    .projImg:hover .projBtn {
        height: 30%;
    }
    .projImg:hover .singleProjBtn {
        height: 30%;
    }
    .projImg:hover .projBtn {
        height: 25%;
    }
}