.nav-bg {
  background-color: rgba(58, 56, 56, 0.945);
}

.navLink {
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  font-size: 25px;
  font-weight: 300;
  color: #557a95;
  transition: 0.75s ease;
  padding: 0;
}
.link:hover .navLink {
  color: white;
  transition: 0.75s ease;
}

.navHr {
  display: block;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  transition: height 0.75s ease;
}

.link:hover .navHr {
  background: linear-gradient(
    90deg,
    transparent,
    #557a95,
    white,
    #557a95,
    transparent
  );
  transition: height 0.75s ease;
}

@media only screen and (max-width: 767px) {
  .navLink {
    width: 15rem;
  }

  .navHr {
    width: 15rem;
    background-image: linear-gradient(
      90deg,
      transparent,
      #557a95,
      white,
      #557a95,
      transparent
    ); 
  }
}
