.nav-bg {
    background-color: #353535d5;
}

.pic {
    max-width: 45%;
}
.navLink{
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
}
.link:hover .navLink {
    background-color: #4e5e7e;
    color: black;
}

.navbar-collapse {
    display: inline-block;
    float: none;
    vertical-align: top;
}