.hero {
    height: 50rem;
    background: rgb(58, 56, 56);
    color: white;
}
.portfolio {

    background: #557A95;
}
#portfolioHeader {
    background: #D5D5D7;
}

a:link {
    text-decoration: none;
}


/**THE SAME CSS IS USED IN ALL 3 DEMOS**/    
/**gallery margins**/  
ul.gallery{    
    margin-left: 3vw;     
    margin-right:3vw;  
    }    
    
    .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(2.5);    
    -moz-transform: scale(2.5);  
    -webkit-transform: scale(2.5);  
    -o-transform: scale(2.5);  
    transform: scale(2.5);    
    position:relative;      
    z-index:100;  
    }
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit**/  
    @media only screen and (max-width: 768px) {   
    ul.gallery {      
    margin-left: 15vw;       
    margin-right: 15vw;
    }
    
    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
    }


.emailLabel{
    float:left;
}

.topFooter-about {
    max-height: 30rem;
    border-right: 1px solid #557A95;
    border-bottom: 1px solid #557A95;
    background-color: rgb(58, 56, 56);
    color: #557A95;
}

.topFooter-about:hover{
    border-top: 1px solid rgb(58, 56, 56);
    border-bottom: 1px solid rgb(58, 56, 56);
    background-color: #557A95;
    color:rgb(58, 56, 56);
}

.topFooter-contact {
    max-height: 30rem;
    border-left: 1px solid #557A95;
    border-bottom: 1px solid #557A95;
    background: rgb(58, 56, 56);
    color: #557A95;
}

.topFooter-contact:hover{
    border-top: 1px solid rgb(58, 56, 56);
    border-bottom: 1px solid rgb(58, 56, 56);
    background-color: #557A95;
    color:rgb(58, 56, 56);
}

.center{
    text-align: center;
    vertical-align: middle;
    line-height: 15rem;
}