.hero {
    height: 50rem;
    background: rgb(58, 56, 56);
    color: white;
}
.portfolio {

    background: #557A95;
}
#portfolioHeader {
    background: #D5D5D7;
}

a:link {
    text-decoration: none;
}

.emailLabel{
    float:left;
}
.top-footer {
    background: rgb(58, 56, 56);
    color: #557A95;
}
.topFooter-about:link {
    text-decoration: none;
    color:#557A95;
}

.topFooter-contact:link {
    text-decoration: none;
    color:#557A95;
}

.topFooter-about {
    max-height: 30rem;
    border: 1px solid #557A95;
    background-color: rgb(58, 56, 56);
    color: #557A95;
}

.topFooter-contact {
    max-height: 30rem;
    border: 1px solid #557A95;
    background: rgb(58, 56, 56);
    color: #557A95;
}

.overlay-contact {
    color:rgb(58, 56, 56);
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #557A95;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .75s ease;
  }

  .overlay-about {
    color:rgb(58, 56, 56);
    border: 1px solid rgb(58, 56, 56);
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #557A95;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .75s ease;
  }

  .topFooter-about:hover .overlay-about {
      width: 100%;
      left: 0;
  }

  .topFooter-contact:hover .overlay-contact {
      width: 100%;
  }

  .text-slide {
    color: rgb(58, 56, 56);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
.center{
    text-align: center;
    vertical-align: middle;
    line-height: 15rem;
}