.hero {
    height: 50rem;
    background: rgb(58, 56, 56);
    color: white;
}
.portfolio {

    background: #557A95;
}
#portfolioHeader {
    background: #D5D5D7;
}

a:link {
    text-decoration: none;
}

.emailLabel{
    float:left;
}

.topFooter-about {
    max-height: 30rem;
    border-right: 1px solid #557A95;
    border-bottom: 1px solid #557A95;
    background-color: rgb(58, 56, 56);
    color: #557A95;
}

.topFooter-about:hover{
    border-top: 1px solid rgb(58, 56, 56);
    border-bottom: 1px solid rgb(58, 56, 56);
    background-color: #557A95;
    color:rgb(58, 56, 56);
}

.topFooter-contact {
    max-height: 30rem;
    border-left: 1px solid #557A95;
    border-bottom: 1px solid #557A95;
    background: rgb(58, 56, 56);
    color: #557A95;
}

.topFooter-contact:hover{
    border-top: 1px solid rgb(58, 56, 56);
    border-bottom: 1px solid rgb(58, 56, 56);
    background-color: #557A95;
    color:rgb(58, 56, 56);
}

.center{
    text-align: center;
    vertical-align: middle;
    line-height: 15rem;
}