.blogSearch {
    margin-top: .35rem;
    margin-right: 1rem;
    background: transparent;
    color: white;
    border: 1px solid #557A95;
    width: 15rem;
    padding: .5rem;
    transition: 0.75s ease;
}

.blogSearch:hover{
    border: 1px solid white;
    transition: 0.75s ease;
}
.blogSearch:focus{
    outline: none;
    border: 1px solid white;
    transition: 0.75s ease;
}