.aboutBg {
    background: #557A95;
    height:100%;
}

.aboutHeader {
    text-align: center;
    vertical-align: middle;
    background: rgba(58, 56, 56);
    color: #557A95;
}

.aboutP {
    text-align: center;
    vertical-align: middle;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 1rem;
}

.aboutTitle {
    text-align: center;
    vertical-align: middle;
    padding: 2rem;
}

.aboutIcon {
    vertical-align: middle;
    max-width: 50px;
    max-height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: .75s ease;
}
.aboutIcon:hover {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(58, 56, 56), 0 6px 20px 0 rgba(58, 56, 56);
    transition: .75s ease;
}

.techName {
    vertical-align: middle;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .aboutIcon  {
        padding: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .aboutP  {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .aboutP  {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 110%;
    }
    .aboutHeader {
        line-height: 5rem;
        font-size: 300%;
    }
    .aboutTech {
        font-size: 150%;
    }
}

.tweetsContainer {
    width: 100vw;
    vertical-align: middle;
    border-left: 1px solid black;
    -webkit-appearance: none;
}
@media only screen and (max-width: 991px) {
    .tweetsContainer {
        margin-left: 1rem;
        border-top: 1px solid black;
        border-left: 0px;
        -webkit-appearance: none;
    }
}

.tweets {
    -webkit-appearance: none;
    width: 100%;
}


.part {
    padding: 0px 0px 0px;
 }

 .hexa, .hexa div {
    margin: 0;
    transform-origin: 50% 50%;
    overflow: hidden;
  }
  .hexa {
    /* border: 1px solid black; */
    width: 125px;
    height: 160px;
  }
  .hexa div {
    width: 100%;
    height: 100%;
  }
  .hexa {
    transform: rotate(120deg);
  }
  .hex1 {
    transform: rotate(-60deg);
  }
  .hex2 {
    transform: rotate(-60deg);
    transition: .75s ease;
  }

  .hex2:hover {
    background: white;
    transition: .75s ease;
  }
.aboutImg {
    margin-top: 1.8rem;
    margin-left: .85rem;
    padding: 0px;
}

.skillDescription {
    border: 1px solid black;
}
.testBox {
    border: 1px solid black;
}