.aboutBg {
    background: linear-gradient(#557A95,#557A95, rgba(58, 56, 56));
    height:100%;
}

.aboutHeader {
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
}


.aboutP {
    text-align: center;
    vertical-align: middle;
    margin-left: 15rem;
    margin-right: 15rem; 
}

.aboutTech {
    margin-top: 5rem;
    text-align: center;
    vertical-align: middle;
}

.aboutIcon:hover {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(58, 56, 56), 0 6px 20px 0 rgba(58, 56, 56);
    transition: .75s ease;
}

.aboutIcon {
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 25px;
    transition: .75s ease;
}


@media only screen and (max-width: 800px) {
    .aboutIcon  {
        padding: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .aboutP  {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .aboutP  {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 110%;
    }
    .aboutHeader {
        line-height: 5rem;
        font-size: 300%;
    }
    .aboutTech {
        font-size: 150%;
    }
}