.aboutBg {
    background: rgba(58, 56, 56);
    height:100%;
}

.aboutHeader {
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.aboutP {
    text-align: center;
    vertical-align: middle;
    width: 75vw;
    padding: 1rem;
    color: white;
}
.techHeader {
    color: white;
    font-size: 25px;
}
.techLevelOne{
    font-size: 20px;
    color: white;
}
.techLevelTwo{
    font-size: 17px;
    color: white;
}
.techLevelThree{
    font-size: 15px;
    color: white;
}
.aboutTitle {
    text-align: center;
    vertical-align: middle;
    padding: 2rem;
}

.techImgOne {
    padding: 1rem;
    max-width: 125px;
    max-height: 125px;
    margin-left: auto;
    margin-right: auto;
    transition: .75s ease;
}
.techImgOne:hover {
    border-radius: 25px;
    background: #557A95;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    transition: .75s ease;
}
.techImgTwo {
    padding: 1rem;
    max-width: 115px;
    max-height: 115px;
    margin-left: auto;
    margin-right: auto;
    transition: .75s ease;
}
.techImgTwo:hover {
    border-radius: 25px;
    background: #557A95;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    transition: .75s ease;
}
.techImgThree {
    padding: 1rem;
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: .75s ease;
}
.techImgThree:hover {
    border-radius: 25px;
    background: #557A95;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    transition: .75s ease;
}
hr.hrAbout{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 1px;
    background:#557A95;
}
.techRow {
    width: 100vw;
}
@media only screen and (max-width: 800px) {
    .aboutIcon  {
        padding: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .aboutP  {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .aboutP  {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 110%;
    }
    .aboutHeader {
        line-height: 5rem;
        font-size: 300%;
    }
    .aboutTech {
        font-size: 150%;
    }
}

.aboutLink {
    color: #557A95;
}
.aboutLink:hover {
    color:white;
}

@media only screen and (min-width: 1200px) {
    .aboutP {
        width: 50vw;
    }
}