.hero{
    height: 50rem;
    background: grey;
}
.portfolio {
    height: 50rem;
    background: brown;
}

.about {
    height: 50rem;
    background: blue;
}

.footer {
    height: 50rem;
    background: beige;
}



