.hero {
    height: 50rem;
    background: grey;
}
.portfolio {
    height: 50rem;
    background: brown;
}


/**THE SAME CSS IS USED IN ALL 3 DEMOS**/    
/**gallery margins**/  
ul.gallery{    
    margin-left: 3vw;     
    margin-right:3vw;  
    }    
    
    .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(2.5);    
    -moz-transform: scale(2.5);  
    -webkit-transform: scale(2.5);  
    -o-transform: scale(2.5);  
    transform: scale(2.5);    
    position:relative;      
    z-index:100;  
    }
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit**/  
    @media only screen and (max-width: 768px) {   
    ul.gallery {      
    margin-left: 15vw;       
    margin-right: 15vw;
    }
    
    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
    }


.about {
    height: 50rem;
    background: blue;
}

.footer {
    height: 50rem;
    background: beige;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 500px;
    perspective: 1000px;
    transition: transform 1s;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition: transform 0.0s;
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}


.emailLabel{
    float:left;
}
/* .form-group{
    width:75%;
    float: right;
    text-align: left;
} */
