.footer {
    background: rgb(58, 56, 56);
}

.footer-link {
    color: #557A95;
    transition: .75s ease;
}
.footer-link:hover {
    background-color: transparent;
    color:white;
    transition: .75s ease;
}

.footer-link:link {
    text-decoration: none;
}

.copyright {
    color: #557A95; 
}