.col-centered {
  margin: 0 auto;
  float: none;
}

.bgContact {
  background: rgba(85, 122, 149, 0.75);
}

.textChange {
  font-weight: bold;
  font-size: 1.4rem;
}

.form-row {
  max-width: 80rem;
}

.contact-header {
  text-align: center;
  vertical-align: bottom;
  background: rgba(58, 56, 56);
  padding: 1rem;
  color: #557a95;
}

.form-control {
  transition: 0.75s ease;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(58, 56, 56);
}
.form-control::placeholder {
    opacity: 1;
    color: rgba(58, 56, 56);
}
.form-control:focus {
  transition: 0.75s ease;
  background: transparent;
  color: black;
  border: 1px solid rgba(58, 56, 56);
  border-bottom: 5px solid rgba(58, 56, 56);
  box-shadow: none;
}

.emailLabel {
  float: left;
}

.contactBtn:hover {
  background: rgba(58, 56, 56);
  color: #557a95;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    background-image: linear-gradient(
      90deg,
      transparent,
      #557a95,
      white,
      #557a95,
      transparent
    );
    margin: 0;
    padding: 0;
    transition: 0.75s ease;
  }