.col-centered{
    margin: 0 auto;
    float: none;
}

.bgContact {
    background-color: #557A95;
}

.textChange{
    font-weight: bold;
    font-size: 1.4rem;
}
.form-row {
    max-width:80rem;
}

#contact-header {
    text-align: center;
    vertical-align: middle;
    background: #557A95;
    color: rgb(58, 56, 56);
}
#header {
    background: #557A95;
}