.col-centered{
    margin: 0 auto;
    float: none;
}

.bgContact {
    height: 100%;
    background: #557A95;
    background-size: 450% 450%;
    position: relative;
}

.textChange{
    font-weight: bold;
    font-size: 1.4rem;
}
.form-row {
    max-width:80rem;
}

#contact-header {
    text-align: center;
    vertical-align: bottom;
    background: #557A95;
    color: rgb(58, 56, 56);
    padding: 1rem;
}

.contactBtn:hover{
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(58, 56, 56), 0 6px 20px 0 rgba(58, 56, 56);
}

.contactBtn{
    transition: .5s ease;
}

.form-control:focus {
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(58, 56, 56), 0 6px 20px 0 rgba(58, 56, 56);
}

.form-control:hover {
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(58, 56, 56), 0 6px 20px 0 rgba(58, 56, 56);
}

.form-control {
    transition: .5s ease;
}